@page
@{
    Layout = "_TestPageLayout";
    ViewData["Title"] = "Tests - SelectEntity";
}

@section Scripts {
    <bundle-css name="Pages/Tests/SelectEntity" versioned></bundle-css>
    <bundle-js name="Pages/Tests/SelectEntity" versioned></bundle-js>
}

<button type="button" id="selectEntity" disabled>Select Entity</button>
<div id="editors"></div>