root = true

[*]
charset                            = utf-8
end_of_line                        = crlf
indent_style                       = space
indent_size                        = 4
trim_trailing_whitespace           = true

# RCS1079: Throwing of new NotImplementedException.
dotnet_diagnostic.RCS1079.severity = silent

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity  = suggestion

# CA1034: Nested types should not be visible
dotnet_diagnostic.CA1034.severity  = silent

# CA1040: Avoid empty interfaces
dotnet_diagnostic.CA1040.severity  = none

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity  = suggestion

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity  = none

# CA1308: Normalize strings to uppercase
dotnet_diagnostic.CA1308.severity  = none

# CA1814: Prefer jagged arrays over multidimensional
dotnet_diagnostic.CA1814.severity  = silent

# CA1819: Properties should not return arrays
dotnet_diagnostic.CA1819.severity  = suggestion

# CA1710: Identifiers should have correct suffix
dotnet_diagnostic.CA1710.severity  = none

# CA1715: Identifiers should have correct prefix
dotnet_diagnostic.CA1715.severity  = none

# CA1010: Collections should implement generic interface
dotnet_diagnostic.CA1010.severity  = silent

# CA1720: Identifier contains type name
dotnet_diagnostic.CA1720.severity  = none

# CA2225: Operator overloads have named alternates
dotnet_diagnostic.CA2225.severity  = silent

[*.cs]
csharp_indent_case_contents = false
csharp_prefer_braces        = true : suggestion

[*.csproj]
indent_size = 2

[*.js]
indent_size = 2

[*.json]
indent_size = 2