[submodule "src/Juniper.NeuroSky"]
	path = src/Juniper.NeuroSky
	url = https://github.com/capnmidnight/Juniper.NeuroSky.git
[submodule "src/Juniper.Units"]
	path = src/Juniper.Units
	url = https://github.com/capnmidnight/Juniper.Units.git
[submodule "src/Juniper.Common"]
	path = src/Juniper.Common
	url = https://github.com/capnmidnight/Juniper.Common.git
	branch = master
[submodule "src/accord-net-framework"]
	path = src/accord-net-framework
	url = https://github.com/capnmidnight/accord-net-framework.git
	branch = development
[submodule "src/accord-net-extensions"]
	path = src/accord-net-extensions
	url = https://github.com/capnmidnight/accord-net-extensions.git
	branch = master
