
#appContainer > .cell {
    position: absolute;
    display: flex;
    margin: 10px 5px;
}

    #appContainer > .cell.top {
        top: 0;
    }

    #appContainer > .cell.middle {
        top: 50%;
        transform: translateY(-50%);
    }

    #appContainer > .cell.bottom {
        bottom: 0;
    }

    #appContainer > .cell.right {
        right: 0;
    }

    #appContainer > .cell.center {
        left: 50%;
        transform: translateX(-50%);
    }

    #appContainer > .cell.left {
        left: 0;
    }

    #appContainer > .cell .btn {
        border-radius: 0;
        height: 58px !important;
        width: 58px;
        padding: 0.25em;
        margin: 0 5px;
        color: white;
        font-weight: bold;
    }

        #appContainer > .cell .btn img {
            height: calc(100% - 0.5em);
        }

    #appContainer > .cell canvas {
        height: 58px;
    }

#appContainer button:disabled img {
    filter: invert(.5);
}
