header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

#headerTitleArea {
    flex-grow: 1;
}

header button {
    border: none;
    padding: 0;
    background-color: transparent;
    font-family: monospace;
    transition: text-shadow .2s;
}

#mainNavVisiblityControlButton {
    font-size: 40pt;
}

header button:disabled {
    opacity: 0.75;
    cursor: not-allowed;
}

header > img {
    height: 50px;
}


header > input[type=search] {
    padding: .5rem 1rem;
    font-size: 12pt;
}
