html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    color: inherit;
}

    body > form {
        display: none;
    }

    body > main {
        flex-grow: 1;
    }

    body > .classificationMark {
        text-align: center;
        color: white;
        background-color: rgb(0, 180, 0);
        border: solid 1px black;
        padding: 0.25rem;
    }

    body > .classificationMark {
        text-align: center;
        border: solid 1px black;
        padding: 0.25rem;
    }

.classificationMark.NONE {
    display: none;
}

.classificationMark.CUI {
    color: white;
    background-color: rgb(0, 180, 0);
}

body > .classificationMark.CUI::after {
    content: "This system may contain Controlled Unclassified Information (CUI)";
}

.classificationMark.SECRET {
    color: white;
    background-color: rgb(180, 180, 0);
}

body > .classificationMark.SECRET::after {
    content: "This system may contain Secret Information (XXX)";
}

.classificationMark.TOP-SECRET {
    color: white;
    background-color: rgb(180, 0, 0);
}

body > .classificationMark.TOP-SECRET::after {
    content: "This system may contain Top Secret Information (XXX)";
}
