main {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

    main > nav {
        flex-grow: 0;
    }

#content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

    #content > h1 {
        text-align: center;
    }

    #content > article {
        overflow: auto;
        scroll-behavior: smooth;
        padding: 3rem;
    }

.scrollIndicator {
    background-color: transparent;
    border: none;
    font-size: 32pt;
    position: relative;
    width: 100%;
    overflow: visible;
    padding: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s;
}

    .scrollIndicator.top {
        top: 0;
        margin-bottom: -48pt;
    }

    .scrollIndicator.bottom {
        bottom: 0;
        margin-top: -48pt;
    }

    .scrollIndicator.visible {
        opacity: 1;
        pointer-events: auto;
    }

#utilColumn {
    padding: 0 2rem;
    max-width: 15rem;
}


button {
    cursor: pointer;
}
